/* im-fell-great-primer-sc-regular - latin */
@font-face {
  font-family: 'IM Fell Great Primer SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/im-fell-great-primer-sc-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('IM FELL Great Primer SC'), local('IM_FELL_Great_Primer_SC'),
       url('fonts/im-fell-great-primer-sc-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/im-fell-great-primer-sc-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/im-fell-great-primer-sc-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/im-fell-great-primer-sc-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/im-fell-great-primer-sc-v8-latin-regular.svg#IMFellGreatPrimerSC') format('svg'); /* Legacy iOS */
}


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'IM Fell Great Primer SC', serif;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    padding: 20px 60px;
    overflow: hidden;
    background-color: rgba(210, 180, 140, 0.8);
}

header img {
    width: auto;
    height: 15vh;
}

header ul {
    padding-left: 50px;
    list-style: none;
}

header ul li {
    font-size: 2.3rem;
    line-height: 1.1;
    letter-spacing: 10px;
}

.wrapper {
    background-color: cornsilk;
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}


h1 {
    font-size: 1.8em;
}

.input-section {
    text-align: center;
    margin: 0 auto;
    padding: 4vh;
    background-color: cornsilk;
    margin-top: 2rem;
}
.input-section button {
    width: 3rem;
}
.input-section form button img {
    height:1.5rem;
    width: auto;
}

.results {
    min-height: 5rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

input {
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 2rem;
    text-transform: uppercase;
}


button {
    text-align: center;
    font-size: 2rem;
    color: darkolivegreen;
    background-color: rgba(46, 139, 87, 0.2);
    border-radius: 1px;
    padding-top: 3px;
    padding-bottom: 2px;
    border: 0.5px solid grey;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

/*.input-section img {
    height: 380px;
    width: auto;
}*/

table,
th,
td {
    font-family: 'IM Fell Great Primer SC', serif;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
}

table {
    width: 80vw;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    width: 40px;
    padding: 0.2rem 0;
}


.info {
    text-align: center;
}

.info-title {
    display: inline-flex;
    font-size: 1.5rem;
    background-color: inherit;
    border: 1px solid inherit;
    padding-top: 8px;
    background-color: cornsilk;
}

.info-title a {
    color: inherit;
    text-decoration: none;
}

.info-title img {
    height: 25px;
    width: auto;
}


.hidden {
    height: 0;
    display: block;
    overflow: hidden;
    transition: height 0.3s ease-in;
}

.click-info {
    cursor: pointer;
}

.about-numerals {
    padding: 20px;
    background-color: white;
    height: 600px;
    margin-bottom: 40px;
    transition: height 0.3s ease-in;
}

.about-numerals p {
    text-align: left;
    padding: 20px;
    font-family: Geneva, serif;
    line-height: 1.2;
}

.spin {
    transform: rotate(180deg);
}

footer {
    font-family: courier, sans-serif;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background-color: grey;
    color: darkgrey;
}

footer a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 770px) {

    header ul li {
        display: inline-block;
        font-size: 3rem;
    }

    .main {
        display: flex;
        flex-direction: row;
        height: auto;
    }

    .hidden {
        height: auto;
    }

    .input-section {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .input-section img {
        height: 400px;
        width: auto;
    }

    button {
        width: 4vw;
    }

    .results {
        margin-top: 3rem;
    }

    table {
        width: 45vw;
        margin: 2px auto;
    }

    .info {
        max-width: 50%;
        margin-bottom: 10px;
        padding-right: 10px;
    }

    .info p {
        font-family: Geneva, serif;
        text-align: left;
        width: 45vw;
        margin: 20px auto;
        font-size: 1.2rem;
    }

    .info-title  {
        display: none;
    }
    #about-numerals {
        margin-top: 40px;
        background-color: cornsilk;
    }

}

@media only screen and (max-width: 430px) and (min-width:321px) {
    header {
        padding: 10px 30px;
    }

    header img {
        height: 13vh;
    }

    header ul {
        padding-left: 16px;
    }

    header ul li {
        font-size: 2rem;
        letter-spacing: 6px;
    }


    input {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 80vw;
    }



.input-section button {
        font-size: 2rem;
        width: 81vw;
    }


    .input-section img {
        height: 250px;
        width: auto;
    }

    .main {
        min-height: 80vh;
    }
}

@media only screen and (max-width: 321px) {
    header {
        padding: 8px 20px;
    }

    header img {
        height: 10vh;
    }

    header ul {
        padding-left: 20px;
    }

    header ul li {
        font-size: 1.4rem;
    }

    input {
        font-size: 1.6rem;
        margin-top: 0;
        margin-bottom: 1rem;
        width: 85vw;
    }

    .input-section button {
        font-size: 1.6rem;
        width: 86vw;
    }
    .input-section img {
        max-width: 300px;
        height: auto;
    }


    .results {
        margin-top: 50px;
        font-size: 1.6rem;
        min-height: 5.8rem;
    }

    table,
    th,
    td {
        font-size: 0.8rem;
    }

}