* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'IM Fell Great Primer SC', serif;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    padding: 20px 60px;
    /*background-color: tan;*/
    background-color: rgba(210, 180, 140, 0.8);
}

header img {
    width: auto;
    height: 15vh;
}

header ul {
    padding-left:50px;
    list-style: none;
}

header ul li {
    font-size: 4vh;
    line-height: 1.1;
    letter-spacing: 10px;

}
.wrapper {
    background-color: cornsilk;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {

}

h1 {
    font-size: 1.8em;
}

.input-section {
    text-align: center;
    margin: 0 auto;
    padding: 4vh;
    height: 35vh;
    background-color: cornsilk;
}

.results {
    margin-top: 15vh;
    text-align: center;
    font-size: 5vh;
}

input {
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 4vh;
}


button {
    text-align: center;
/*    font-family: 'IM Fell Great Primer SC', serif;
*/  font-size: 4vh;
    color: darkolivegreen;
    background-color: white;
    border-radius: 1px;
    padding: 0 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    border: 0.5px solid grey;
}

input:focus {
    outline: none;
}
button:focus {
    outline: none;
}


table,
th,
td {
    font-family: 'IM Fell Great Primer SC', serif;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
}

table {
    width: 80vw;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    width: 40px;
}


.info {
    text-align: center;
    
}

.info-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    /*position: relative;*/
    
    font-size: 3vh;
    background-color: inherit;
    border: 1px solid inherit;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: cornsilk;
}

.info-title a {
    color: inherit;
    text-decoration: none;
}

.info-title img{
    height: 30vh;
    /*display: inline-block;*/
}

.hidden {
    height: 0;
    display: block;
    overflow: hidden;
    /*transition: all 0.2s ease;*/
    /*transition: background-color 0.3s ease-in;*/
}

.click-info {
    cursor: pointer;
}

.about-numerals {
    padding: 20px;
    background-color: white;
    height: 100%;
    margin-bottom: 40px;
    /*transition: height 0.3s ease-in;*/
}

.about-numerals p {
    padding: 20px;
    font-family: Geneva, serif;
    line-height: 1.2;
}

.spin {
    transform: rotate(180deg);
}

footer {
    font-family: courier, sans-serif;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    /*height: 40px;*/
    width: 100%;
    background-color: grey;
    color: darkgrey;
}

footer a {
    text-decoration: none;
    color: inherit;
}